{% extends '!layout.html' %}
{% block document %}
{{super()}}
    <a href="https://gitlab.com/davidtourigny/dynamic-fba">
        <span style="font-family: tahoma; font-size: 14px; position: fixed; top: 0; right: 0; border: 0; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); background-color:rgb(45,45,45); color:orange; padding: 4px 15px 4px 150px; z-index:99">                             Fork Me On GitLab</span>
    </a>
{% endblock %}